<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="0d1ef6b6-81d5-47ee-a0ee-7926f2df31c6" name="Test Suit 1 - Get Employees" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="0d1ef6b6-81d5-47ee-a0ee-7926f2df31c6fileName">Test-Suit-1---Get-Employees</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
