<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="cb993511-4363-4c65-b6df-821914d1745c" name="dummy APIs" type="rest" wadlVersion="http://wadl.dev.java.net/2009/02" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="cb993511-4363-4c65-b6df-821914d1745cfileName">dummy-APIs</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://dummy.restapiexample.com</con:endpoint>
  </con:endpoints>
</con:interface>