<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d43486b3-6a11-42bf-9ef2-4360d1a88631" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://dummy.restapiexample.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="d43486b3-6a11-42bf-9ef2-4360d1a88631fileName">http%3A%2F%2Fdummy.restapiexample.com</con:setting>
  </con:settings>
  <con:definitionCache/>
  <con:endpoints>
    <con:endpoint>http://dummy.restapiexample.com</con:endpoint>
  </con:endpoints>
</con:interface>
