<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="c64db08b-c0cf-4405-a380-8ef7c5b5f4e6" name="Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="c64db08b-c0cf-4405-a380-8ef7c5b5f4e6fileName">Test-Suite-1</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
