<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6f8c3d4d-e1f2-44f4-9790-b456b3e1717f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6f8c3d4d-e1f2-44f4-9790-b456b3e1717ffileName">TestSuite-1</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>